.content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  padding-top: 10px;

  &::-webkit-scrollbar {
    display: inline-block;
  }
}

.mainContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  grid-gap: 30px;

  & .container {
    display: grid;
    grid-template-rows: auto 30px 30px;
    border:1px solid white;
    transition: border 0.1s;
    width: 80%;
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    align-items: center;
    
    &:hover{
      border: 1px solid dodgerblue;
    }

    & .profile {
      width: 100%;
    }

    & .title, & .date {
      font-size: 1.2em;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }
}