.header {
  width: 100vw;
  height: 80px;
  
  position: sticky;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-bottom: 1px solid lightgrey;

  & .profile{
    height: 80px;
    border-radius: 50%;
    border:1px solid white;
    transition: border 0.1s;

    &:hover{
      border: 1px solid dodgerblue;
    }
  }
}